*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 0;
}
.headersec{
     background:rgb(0, 51, 102) ;
     text-align: center;
}
.header{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 90%;
}

.the-battle{
    
    background-color: #D1DDE9;
}
.main-sec{
    height: 450px;
    display: flex;
    width: 60%;
}
.sign-in a{
    color: rgba(255, 255, 255, 0.738);
    font-weight: bold;
    font-size: 20px;
}
.sign-in a:hover{
text-decoration: underline;
}
.search-bar h3{
margin: 25px 0px 0px;
}
.search-bar{
    position: absolute;
    right: 0;
    font-size: 25px;
    color:#044284;
    flex-shrink: 0;
}
.search-bar button,input{
    font-size: 20px;
    border: 1px solid #154580;
}
.search-bar input{
    border-radius: 2px;
    font-size: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.search{
    width:250px;
    padding: 2px 10px;
    border: 1px solid #154580;
    box-shadow: 1px 1px 2px #666;
    outline: none;
}
.search:focus{
    border-color: rgba(234, 200, 8, 0.789);
    box-shadow: 0 0 5px rgb(189, 161, 5);
}
.search-btn{
    border: 1px solid #044284;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #666;
    font-size: 16px;
    background-color: #003366;
    color: white;
    margin-left: 10px;
    padding: 3px;
}
.left-header a{
    font-family: 'Varela Round', sans-serif;
    color: white;
    padding: 18px 10px;
    width: 270px;
    float: left;

}
.calculator{
    align-items: center;
    background-color: white;
    width: 70%;
    margin: 25px 25px 25px 25%;
}
.calculator-table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
}
.show-input{
    font-size: 20px;
    padding: 3px;
    margin: 2px;
}
.show-result{
    font-size: 20px;
    padding: 3px;
    margin: 2px;
    cursor: text;
    text-align: right;
    background-color: #336699;
    border: 1px solid #336699;
    border-radius: 0px;
    color: #fff;
}


.deg-or-rad{ background-color:#fff; display: inline-block; border: 1px solid ; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px;
    background-color: #fff;;
}